<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IhGitWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IhGitWpf.Properties.Settings>
            <setting name="GitHubToken" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>TheBlubb14</value>
            </setting>
            <setting name="RepoPath" serializeAs="String">
                <value>C:\Dev\Projects\GitHub\paxcontrol</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="MinSupportMinorVersion" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="MinSupportMajorVersion" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AddToMergeQueue" serializeAs="String">
                <value>True</value>
            </setting>
        </IhGitWpf.Properties.Settings>        
    </userSettings>
</configuration>