name: .NET

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      # self-contained produces to big artifacts for github free plan
      - name: Publish Forms
        run: dotnet publish -c Release -o /output/no-self-contained IhGit/IhGit.csproj

      - name: Publish WPF
        run: dotnet publish -c Release -o /output/no-self-contained IhGitWpf/IhGitWpf.csproj

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: IhGit
          path: /output/no-self-contained/*.exe

      - uses: ncipollo/release-action@v1
        if: github.event_name != 'pull_request'
        with:
          artifacts: /output/no-self-contained/*.exe
          tag: 1.0.0
          allowUpdates: true
